extends ../../../layout/section

block title
    include ../../../icons/info
    | About

block content
    p
        | The Connectbox is a media distribution  platform project of the Connectbox Team with support from The Relay Trust, GlobalTechTeam and OM International.
        |
        a(href="https://connectbox.technology/wp/") Connectbox
